/*

Désaturée :
#F4F1EC (blanc cassé)
#F7E9AA (jaune clair)
#CBC372 (vert clair)
#7B802C (vert foncé)
#D3C0A2 (marron clair)
#FEC35B (jaune foncé)

.

Saturée :
#758650 (vert foncé)
#B5C268 (vert clair)
#E8B535 (jaune foncé)
#FFE27C (jaune clair)
#C8B6A0 (marron clair)
#F9F9F9 (blanc cassé)


*/

@import url("https://fonts.googleapis.com/css2?family=Afacad:ital,wght@0,400..700;1,400..700&family=Fraunces:ital,opsz,wght@0,9..144,100..900;1,9..144,100..900&family=Imbue:opsz,wght@10..100,100..900&family=Lora:ital,wght@0,400..700;1,400..700&family=Maven+Pro:wght@400..900&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
}

html {
  background-color: #f9f9f9;
}

body {
  margin: 0 auto;
  width: 100%;
  font-optical-sizing: auto;
  font-weight: 500;
}

@keyframes appear {
  from {
    opacity: 0%;
    transform: translateY(20px);
  }
  to {
    opacity: 100%;
    transform: translateY(0);
  }
}

@keyframes fade-in {
  from {
    opacity: 0%;
  }
  to {
    opacity: 100%;
  }
}

@keyframes enter {
  from {
    opacity: 0%;
    transform: translateX(-100%);
  }
  to {
    opacity: 100%;
    transform: translateX(0);
  }
}

.animate {
  animation-name: appear;
  animation-duration: 1.5s;
  animation-fill-mode: forwards;
}

footer.animate {
  animation-name: fade-in;
  animation-duration: 1.5s;
  animation-fill-mode: forwards;
}

p:not(#summary p, #droite p, #mail p, .logo p),
label,
input,
textarea {
  color: #585223;
  font-family: "Afacad", sans-serif;
}

h4 {
  font-family: "Afacad", sans-serif;
  font-size: 1.4rem;
  color: #585223;
}

header nav,
.body {
  margin: 0 auto;
  width: 90%;
}

body {
  min-width: 280px;
  max-width: 100%;
}

.logo {
  display: flex;
  text-decoration: none;
  text-align: center;
  color: #585223;
}

.logo img {
  height: 2.3rem;
}

.logo p {
  display: none;
  font-variant: small-caps;
  font-family: "Imbue", serif;
  font-size: 2.3rem;
  letter-spacing: 5px;
}

header nav div:not(#links, #nav-fixed) {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  gap: 50px;
  padding: 20px 0;
}

nav a,
nav p {
  opacity: 0%;
  animation-name: appear;
  animation-duration: 1.5s;
  animation-fill-mode: forwards;
}

#nav-fixed {
  position: fixed;
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  gap: 50px;
  top: -100%;
  left: 0;
  width: 100%;
  z-index: -500;
  opacity: 0;
  padding: 20px 5%;
  transition: all 0.3s ease-in-out;
}

#nav-fixed.nav-fixed-on {
  top: 0;
  background-color: #f9f9f9;
  z-index: 550;
  opacity: 1;
  transition: opacity 0.4s ease-in-out;
}

#links {
  position: fixed;
  transform: translateY(-100%);
  transition: transform 0.2s;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  padding-top: 4rem;
  z-index: 600;
}

#links a {
  font-family: "Afacad", sans-serif;
  text-decoration: none;
  text-wrap: nowrap;
  display: block;
  margin: 2rem 4rem;
  font-size: 1.5rem;
}

#links a:nth-of-type(1) {
  color: #7a7f2d;
}

#links a:nth-of-type(2) {
  color: #7a7f2dca;
}

#links a:nth-of-type(3) {
  color: #7a7f2da0;
}

#links a:after {
  content: "";
  position: absolute;
  width: 0%;
  height: 1px;
  display: block;
  transition: all 0.3s ease;
  bottom: 0;
}

#links a.active:after {
  width: 100%;
  height: 2px;
  background-color: #cdc475;
}

#links.showMenu {
  transform: translateY(0);
  background: white;
}

.hamburger {
  border: none;
  cursor: pointer;
  padding: 7px;
  background-color: rgba(255, 255, 255, 0);
  border-radius: 5px;
  font-size: 1.3rem;
  color: #585223;
}

.hamburger.inMenu {
  position: fixed;
  z-index: 601;
  top: 2rem;
  right: 2rem;
}

.xmark:before {
  display: none;
}

i.fa-solid.fa-xmark.xmark {
  display: none;
}

.show-before:before {
  display: inherit;
  color: #2d2d2d;
  font-size: 1.6rem;
  content: '\f00d'; /* font awesome close icon */
}





.under-nav {
  opacity: 0%;
  background-color: #f5ebab;
  height: 0.17rem;
  margin: 0 auto 50px;
  width: 90%;
  border: none;
  animation-name: appear;
  animation-duration: 1.5s;
  animation-fill-mode: forwards;
  animation-delay: 0.2s;
}


/* INTRO */

#header_accueil {
  display: flex;
  flex-direction: column-reverse;
  height: fit-content;
  width: 100%;
  padding: 0 4%;
}

#gauche {
  padding: 30px 45px;
  max-width: 100%;
  min-width: 250px;
  text-align: right;
  display: block;
  opacity: 0%;
  animation-name: appear;
  animation-duration: 2s;
  animation-fill-mode: forwards;
  animation-delay: 0.4s;
  margin: 0 auto;
}

#gauche p:nth-of-type(1) {
  opacity: 0%;
  animation-name: appear;
  animation-duration: 1.5s;
  animation-fill-mode: forwards;
  animation-delay: 0.6s;
}

#summary h1 {
  color: #7a7f2d;
  font-family: "Fraunces", serif;
  font-size: 1.2rem;
  letter-spacing: 5px;
  opacity: 0%;
  animation-name: enter;
  animation-duration: 1.5s;
  animation-fill-mode: forwards;
  animation-delay: 0.8s;
}

#summary a:nth-of-type(1) {
  color: #7a7f2d;
  opacity: 0%;
  animation-name: enter;
  animation-duration: 1.5s;
  animation-fill-mode: forwards;
  animation-delay: 1s;
}

#summary a:nth-of-type(1) hr {
  border: 1px solid #7a7f2d;
}

#summary a:nth-of-type(2) {
  color: #7a7f2dca;
  opacity: 0%;
  animation-name: enter;
  animation-duration: 1.5s;
  animation-fill-mode: forwards;
  animation-delay: 1.2s;
}

#summary a:nth-of-type(2) hr {
  border: 1px solid #7a7f2dca;
}

#summary a:nth-of-type(3) {
  color: #7a7f2da0;
  opacity: 0%;
  animation-name: enter;
  animation-duration: 1.5s;
  animation-fill-mode: forwards;
  animation-delay: 1.4s;
}

#summary a:nth-of-type(3) hr {
  border: 1px solid #7a7f2da0;
}

.summary-line {
  margin: 30px 0;
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: baseline;
  gap: 10px;
  flex-wrap: nowrap;
  text-align: right;
  text-decoration: none;
}

.summary-line p {
  font-family: "Afacad", sans-serif;
  font-size: 1.1rem;
}

.summary-line p:nth-of-type(2) {
  width: 70px;
}

.summary-line p:nth-of-type(1) {
  color: #cdc475;
}

#summary hr {
  width: 200px;
}

/*
    color: #79d159;
    color: rgb(255, 206, 45);
    */

#droite {
  margin: 0 auto 30px;
  height: 463px;
  width: 260px;
  position: relative;
  opacity: 0;
  animation-name: appear;
  animation-duration: 1.5s;
  animation-fill-mode: forwards;
  animation-delay: 0.4s;
}

#ligne_un {
  color: #cdc475;
  filter: drop-shadow(5px 0 #f9f9f9);
  position: absolute;
  text-align: left;
  text-wrap: nowrap;
  font-family: "Imbue", serif;
  font-size: 3.4rem;
  top: 0;
  left: 0;
  opacity: 0;
  animation-name: enter;
  animation-duration: 1.5s;
  animation-fill-mode: forwards;
  animation-delay: 0.8s;
}

#ligne_deux {
  color: #cdc475;
  filter: drop-shadow(-4px 0 #f9f9f9);
  position: absolute;
  bottom: 0;
  text-align: right;
  font-family: "Imbue", serif;
  font-size: 3.4rem;
  left: 167px;
  opacity: 0;
  animation-name: enter;
  animation-duration: 1.5s;
  animation-fill-mode: forwards;
  animation-delay: 0.10s;
}

#hexa {
  position: absolute;
  bottom: 60px;
  left: 35px;
  font-family: "Afacad", sans-serif;
  font-size: 0.8rem;
  color: #7a7f2d;
  text-wrap: nowrap;
  opacity: 0;
  animation-name: appear;
  animation-duration: 1.5s;
  animation-fill-mode: forwards;
  animation-delay: 0.12s;
}

#box_pantone {
  position: absolute;
  height: 380px;
  width: 205px;
  border: 2px #7a7f2d solid;
  bottom: 38px;
  left: 27px;
  overflow: hidden;
}

#box_pantone span {
  position: absolute;
  height: 305px;
  width: 265px;
  top: 29px;
  border-bottom: 2px #7a7f2d solid;
  border-top: 2px #7a7f2d solid;
  background-color: #ffc75e;
}

/* Presentation */

#about {
  max-height: fit-content;
  min-height: 700px;
  margin-top: 100px;
  width: 100%;
  background-color: #d6c2a679;
  padding: 40px 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

#presentation {
  max-width: 80%;
  min-width: 105px;
  margin: 0 auto;
  height: fit-content;
}

#presentation_texte {
  background-color: #f9f9f9;
  padding: 60px;
  font-size: 1.1rem;
  margin: 0 auto;
}

/* #img_un {
  background-color: rgb(48, 215, 215);
  width: 35%;
  height: 400px;
} */

/* #presentation_texte {
  width: 45%;
  min-width: 400px;
  background-color: #f9f9f9;
  padding: 60px;
  font-size: 1.3rem;
} */

/* -------- FIN DE LA PARTIE A GARDER --------- */

/* BOUTON CV */

.bouton {
  font-weight: 500;
  font-family: "Afacad", sans-serif;
  text-decoration: none;
  background: transparent;
  outline: none !important;
  cursor: pointer;
  transition: all 0.3s ease;
  position: relative;
  display: inline-block;
  z-index: 1;
}

.bouton:after {
  position: absolute;
  content: "";
  width: 0;
  height: 100%;
  top: 0;
  left: 0;
  direction: rtl;
  z-index: -1;
  transition: all 0.3s ease;
}

.bouton:hover:after {
  left: auto;
  right: 0;
  width: 100%;
}

.bouton:active {
  top: 2px;
}

#CV {
  margin-top: 50px;
  padding: 10px 25px;
  border: 2px solid #7a7f2d;
  color: #7a7f2d;
}

#CV:after {
  background: #7a7f2d;
}

#CV:hover {
  color: rgb(255, 253, 253);
}

/* Fin bouton CV
    Fin bouton */

/* TRAVAUX UNI*/
#travaux {
  height: fit-content;
}

.cat-accueil {
  margin-top: 120px;
}

h2 {
  font-family: "Fraunces", serif;
  font-size: 2.2rem;
  margin: 40px 0;
  color: #585223;
}

.cat {
  padding: 20px 0;
  border-top: 2px solid #b3ac60;
  width: 100%;
  overflow: hidden;
  position: relative;
}

.cat-name {
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
}

h3 {
  color: #b3ac60;
  font-family: "Afacad", sans-serif;
  font-size: 1.6rem;
}

.cat-name::after {
  content: "\002B";
  font-size: 2.6rem;
  color: #b3ac60;
}

.cat-name.active::after {
  content: "\2212";
  font-size: 2.6rem;
  color: #b3ac60;
}

/* Fin contenu sous forme de site */

/* Bouton voir sites */
a.voir-bouton,
button.voir-bouton {
  margin-top: 20px;
  padding: 4px 25px;
  border: 2px solid #585223;
  color: #585223;
  font-size: 1.2rem;
}

.voir-bouton:after {
  background: #585223;
}

.voir-bouton:hover {
  color: rgb(255, 253, 253);
}

/* Fin bouton voir sites */

.cat-container {
  width: 100%;
  margin: 50px auto;
  flex-wrap: wrap;
}

.all-site-hr {
  margin: 15px 0;
}

#LFP-site,
.all-site {
  width: 100%;
  margin: 0 auto;
}

#LFP-site-img,
.all-site-img {
  width: 100%;
  margin: 0 auto;
  text-align: center;
}

#LFP-site-img img,
.all-site-img img {
  width: 85%;
}

#LFP-site-infos,
.all-site-infos {
  width: 100%;
  height: fit-content;
  text-align: left;
  margin: -10px auto 0;
  padding: 2% 8% 5%;
}

/* 
#LFP-site-infos div:nth-of-type(1) {
  width: 10%;
  background-color: #7a7f2d;
  height: 200px;
} */

#LFP-site-infos div:nth-of-type(1),
.all-site-infos div:nth-of-type(1) {
  width: 100%;
}

#LFP-logo {
  width: 100%;
  background-color: #ffffff;
  height: fit-content;
  padding: 8%;
  margin-top: 30px;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  gap: 30px;
}

#LFP-logo-img img {
  width: 100%;
}

#LFP-logo-img {
  width: 45%;
}

#LFP-logo-infos {
  width: 100%;
  text-align: right;
}

#LFP-photos {
  width: 100%;
  margin-top: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  padding: 5% 8%;
}

#LFP-photos-infos {
  width: 100%;
}

.link {
  position: relative;
  text-decoration: none;
  color: #585223;
}

.link::after {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  bottom: 3px;
  height: 5px;
  width: 100%;
  background-color: #ffc75e;
  z-index: -100;
  transition: height 0.15s ease-in-out;
}

.link:hover::after {
  height: 10px;
}

#LFP-photos-container {
  margin: 0 auto 10px;
  display: flex;
  justify-content: space-between;
  gap: 2%;
  width: 100%;
}

.img-LFP {
  cursor: pointer;
  transition: 0.3s;
  width: 22%;
}

.img-LFP:hover {
  box-shadow: 14px 14px #f5ebab;
  transform: translateY(-5px);
  transition: all 0.2s ease-in-out;
}

/* The Modal (background) */
.modal {
  display: none;
  position: fixed;
  z-index: 750;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: #f9f9f9;
  background-color: #f9f9f9b0;
  align-items: center;
  justify-content: center;
  overflow: auto;
}

/* Modal Content (Image) */
.modal-content {
  margin: 0 auto;
  position: relative;
  height: fit-content;
  width: fit-content;
  display: flex;
  align-items: center;
  justify-content: center;
  animation-name: apparition;
  animation-duration: 0.6s;
  overflow: hidden;
}

.modal-img {
  max-height: 80vh;
  min-height: auto;
  max-width: 90vw;
}

.zoomed:hover {
  --x: 50%;
  --y: 50%;
  /**/
  transform-origin: var(--x) var(--y);
  clip-path: inset(
    calc((1 - 1 / var(--zoom)) * (var(--y)))
      calc((1 - 1 / var(--zoom)) * (100% - var(--x)))
      calc((1 - 1 / var(--zoom)) * (100% - var(--y)))
      calc((1 - 1 / var(--zoom)) * (var(--x)))
  );
}

.zoomed {
  transform: scale(var(--zoom));
  --zoom: 2;
}

span#close {
  position: absolute;
  top: 0px;
  left: 5px;
  height: fit-content;
  width: fit-content;
  font-size: 1.9rem;
  cursor: pointer;
  z-index: 755;
}

@keyframes apparition {
  from {
    filter: opacity(0);
  }
  to {
    filter: opacity(1);
  }
}

/* 100% Image Width on Smaller Screens */
/* @media only screen and (max-width: 700px) {
  .modal-content {
    width: 100%;
  }
} */

/* SITE BFF */

#BFF-site {
  width: 100%;
  height: fit-content;
  padding: 8%;
  gap: 30px;
  align-items: center;
  background: #d6c2a600;
}

#BFF-site-img {
  width: 100%;
  margin-bottom: 20px;
}

#BFF-site-img img {
  width: 100%;
}

#BFF-site-infos {
  width: 100%;
}

#BFF-aside {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  margin: 0 auto;
  gap: 15px;
  padding: 8%;
  margin-top: 40px;
}

/* .BFF-aside-hr {
  border: none;
  border-left: 2px solid #ffc75e82;
  height: 0px;
  width: 0px;
} */

#BFF-crea-infos {
  width: 100%;
  text-align: right;
}

#BFF-crea {
  width: 85%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, auto);
  gap: 15px;
  align-items: end;
}

#BFF-crea img {
  width: 80%;
  margin: 0 auto;
}

#BFF-crea img:nth-of-type(1) {
  grid-column: 1/4;
  grid-row: 1;
  width: 45%;
}

#BFF-crea img:nth-of-type(2) {
  grid-column: 1;
  grid-row: 2;
}

#BFF-crea img:nth-of-type(3) {
  grid-column: 2;
  grid-row: 2;
}

#BFF-crea img:nth-of-type(4) {
  grid-column: 3;
  grid-row: 2;
}

#color-separator {
  background-color: #d6c2a670;
  width: 80%;
  height: 25px;
  margin: 0 0 0 auto;
}

/* SUPERNATURAL SECTION */
#SPN {
  background: linear-gradient(90deg, #ffc75e00 96%, #7a7f2d 96%);
  width: 100%;
}

#SPN-site {
  width: 85%;
  margin-right: 7%;
}

#SPN-site-img {
  width: 100%;
}

#SPN-site-img img {
  width: 100%;
}

#SPN-site-infos {
  width: 100%;
}

#SPN-pages {
  width: 80%;
  margin-right: 7%;
  margin-top: 30px;
}

#SPN-pages-img {
  width: 100%;
  display: flex;
  justify-content: flex-start;
  gap: 4%;
  align-items: center;
}

#SPN-pages-img img {
  width: 45%;
  box-shadow: #0000005e 4px 4px 4px;
}

/* MONSTER HIGH SECTION */
#MH-site-img {
  margin-bottom: 20px;
}

/* Apparition contenu card au click */

.collapse-container {
  max-height: 0px;
  overflow: hidden;
  transition: max-height 0.3s ease-in-out;
}

/* GALERIE CREA */

#creations {
  margin-top: 120px;
}

.accordion {
  max-width: 100%;
  margin: 20px auto 100px;
}

.creation {
  width: 75%;
  position: relative;
  margin: 20px auto 0;
}

.creation img {
  width: 100%;
}

#recette .recette-creation:nth-of-type(2) img {
  margin-left: -40px;
}

.caption {
  position: absolute;
  z-index: 200;
  padding: 5px 10px;
  top: 55px;
  right: -42px;
  border: solid 2px #d6c2a679;
  transform: rotate(90deg);
}

.caption button {
  display: none;
}

#quincaillerie .quincaillerie-creation:nth-of-type(1) .caption {
  top: 55px;
  right: -53px;
}

.caption h4 {
  margin-bottom: 2px;
  text-overflow: clip;
  font-size: 0.8rem;
  text-transform: uppercase;
}

/* SECTION CONTACT */

#contact-accueil {
  min-height: 300px;
  max-height: fit-content;
  margin-top: 120px;
}

#contact-accueil-contenu {
  margin-top: 70px;
  display: flex;
  align-items: flex-end;
  justify-content: center;
  flex-wrap: wrap;
  gap: 10%;
}

#mail i,
#contact-accueil a:not(#contact-accueil a.github) {
  color: #f9f9f9;
  font-size: 2.2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  background-color: #ffc75e;
  border-radius: 50px;
  width: 60px;
  height: 60px;
  text-align: center;
  box-shadow: 0 0 0 5px #f9f9f9;
}

a.github i {
  color: #ffc75e;
  font-size: 60px;
}

#contact-accueil-contenu a:hover,
#mail:hover {
  transform: translateY(-5px);
  transition: all 0.3s ease-in-out;
}

#contact-accueil-contenu a {
  transition: transform 0.3s ease-in-out;
}

#mail {
  margin-top: 35px;
  display: flex;
  align-items: center;
  transition: all 0.2s ease-in-out;
  position: relative;
  width: 260px;
  text-align: center;
}

.mail {
  color: #f9f9f9;
  z-index: auto;
  background-color: #ffc75e;
  border-radius: 20px;
  width: fit-content;
  font-size: 1rem;
  position: absolute;
  left: 30px;
  height: 100%;
  padding: 20px 25px 20px 50px;
  font-family: "Afacad", sans-serif;
  transition: all 0.2s ease-in-out;
}

.fa-envelope {
  z-index: 2;
}

footer {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100px;
  padding: 20px;
  width: 90%;
  margin: 50px auto 0;
  text-align: center;
}

form:not(.form-mail),
.page-retour {
  width: 85%;
  background-color: white;
  border-radius: 15px;
  font-size: 1.2rem;
  margin: 60px auto 0;
  padding: 12%;
}

form label {
  display: block;
  text-transform: uppercase;
  margin-top: 10px;
}

form input {
  background-color: #f1f1e900;
  height: 30px;
  border: 1px solid #585223;
  padding: 10px;
}

form span {
  color: #585223;
  font-size: 1em;
}

#prenom,
#nom {
  width: 100%;
}

#email,
#message {
  width: 100%;
}

#message {
  height: 100px;
  padding: 10px;
  background-color: #f1f1e900;
  border: 1px solid #585223;
}

#submit {
  margin-top: 10px;
  width: 100%;
  background-color: #585223;
  border-radius: 2px;
  color: rgb(241, 236, 236);
  padding: 10px 0;
  font-size: 1.2rem;
  border: none;
  height: 50px;
  transition: all 0.25s ease-in-out;
}

#submit:hover {
  background-color: rgba(255, 255, 255, 0);
  border: 2px solid #ffc75e;
  color: #585223;
  cursor: pointer;
  font-weight: bold;
  transition: all 0.25s ease-in-out;
}

@media screen and (min-width: 480px) {
  /* INTRO */

  .logo {
    display: flex;
    text-decoration: none;
    text-align: center;
    color: #585223;
  }

  .logo p {
    display: block;
  }

  .logo img {
    display: none;
  }

  /* HEADER */

  #gauche {
    min-width: 300px;
    max-width: 80%;
  }

  #summary h1 {
    font-size: 1.7rem;
    letter-spacing: 5px;
  }

  .summary-line {
    margin: 30px 0;
    width: 100%;
    gap: 10px;
  }

  .summary-line p {
    font-size: 1.3rem;
  }

  #summary hr {
    width: 400px;
  }

  #droite {
    height: 480px;
    width: 310px;
  }

  #ligne_un {
    font-size: 4rem;
  }

  #ligne_deux {
    font-size: 4rem;
    left: 200px;
  }

  #hexa {
    left: 35px;
  }

  #box_pantone {
    height: 400px;
    width: 245px;
    bottom: 35px;
    left: 25px;
  }

  #box_pantone span {
    height: 320px;
    top: 30px;
  }

  /* MODAL */

  span#close {
    top: 0px;
    left: 10px;
    font-size: 2.5rem;
  }

  /* LFP site */

  #LFP-logo {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 10%;
  }

  #LFP-logo-infos {
    width: 50%;
    text-align: left;
  }

  #LFP-logo-infos p {
    font-size: 0.9rem;
  }

  #LFP-logo-img {
    width: 35%;
  }

  /* BFF crea */
  #BFF-crea {
    width: 65%;
  }

  /* GALERIE CREA */

  .caption {
    padding: 10px 15px;
    top: 68px;
    right: -61px;
  }

  .caption button {
    display: none;
  }

  #quincaillerie .quincaillerie-creation:nth-of-type(1) .caption {
    top: 68px;
    right: -75px;
  }

  .caption h4 {
    font-size: 1.1rem;
  }

  /* ---- FOOTER --- */

  a.github i {
    color: #ffc75e;
    font-size: 70px;
  }

  #mail i,
  #contact-accueil a:not(#contact-accueil a.github) {
    color: #f9f9f9;
    font-size: 2.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    background-color: #ffc75e;
    border-radius: 50px;
    width: 70px;
    height: 70px;
    text-align: center;
    box-shadow: 0 0 0 5px #f9f9f9;
  }

  #mail {
    margin-top: 35px;
    display: flex;
    align-items: center;
    transition: all 0.2s ease-in-out;
    position: relative;
    width: 290px;
    text-align: center;
  }

  .mail {
    color: #f9f9f9;
    z-index: auto;
    background-color: #ffc75e;
    border-radius: 20px;
    width: fit-content;
    font-size: 1.3rem;
    position: absolute;
    left: 40px;
    height: 100%;
    padding: 20px 20px 20px 50px;
    font-family: "Afacad", sans-serif;
    transition: all 0.2s ease-in-out;
  }
}

@media screen and (min-width: 576px) {
  #BFF-site {
    background: linear-gradient(180deg, #ffc75e 30%, #d6c2a60d 30%);
  }

  #links {
    position: initial;
    display: flex;
    align-items: baseline;
    width: 40%;
    justify-content: flex-end;
    gap: 15%;
    transform: translateY(0);
    padding: 0;
    background-color: #2d2d2d00;
  }
  
  #links a {
    font-size: 1.1rem;
    margin: 0;
  }

  .hamburger {
    display: none;
  }

}

@media screen and (min-width: 768px) {
  /* NAV */

  /* HEADER */
  #header_accueil {
    flex-direction: row;
    justify-content: space-evenly;
    gap: 40px;
    align-items: flex-end;
    padding: 0 8%;
  }

  #gauche {
    padding: 0;
    width: 50%;
    margin-bottom: 30px;
  }

  #summary h1 {
    font-size: 1.5rem;
  }

  #summary hr {
    width: 300px;
  }

  #droite {
    height: 463px;
    width: 280px;
    margin: 0;
  }

  #box_pantone {
    height: 380px;
    width: 225px;
    bottom: 38px;
    left: 26px;
  }

  #box_pantone span {
    height: 305px;
    width: 265px;
    top: 29px;
  }

  #ligne_un {
    font-size: 3.8rem;
    top: 0;
    left: 0;
  }

  #ligne_deux {
    bottom: 0;
    font-size: 3.8rem;
    left: 175px;
  }

  #hexa {
    bottom: 60px;
    left: 35px;
    font-size: 0.8rem;
  }

  /* PRESENTATION */
  #about {
    margin-top: 100px;
    width: 100%;
  }

  #presentation_texte {
    max-width: 80%;
    min-width: 360px;
    font-size: 1.3rem;
  }

  /* FORM CONTACT */
  #en-tete {
    width: 100%;
    display: flex;
    justify-content: flex-start;
    gap: 15px;
  }

  #en-tete div {
    width: 100%;
  }

  form:not(.form-mail),
  .page-retour {
    width: 70%;
    padding: 70px;
  }

  /* LFP site */
  #LFP-site-infos,
  .all-site-infos {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10%;
  }

  #LFP-site-infos div:nth-of-type(1),
  .all-site-infos div:nth-of-type(1) {
    width: 70%;
  }

  #LFP-logo {
    width: 100%;
    background-color: #ffffff;
    height: fit-content;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 10%;
  }

  #LFP-logo-infos {
    width: 50%;
    text-align: left;
  }

  #LFP-logo-img {
    width: 25%;
  }

  /* BFF team */
  #BFF-site {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: rgba(255, 255, 255, 0);
    background: linear-gradient(90deg, #ffc75e 40%, #d6c2a60d 40%);
  }

  #BFF-site-infos {
    width: 35%;
  }

  #BFF-site-img {
    width: 60%;
    margin-bottom: 0;
  }

  #BFF-aside {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    margin: 0 auto;
    gap: 15px;
    padding: 30px;
    margin-top: 40px;
  }

  /* .BFF-aside-hr {
  height: 200px;
  width: 1px;
} */

  #BFF-crea-infos {
    width: 40%;
  }

  #BFF-crea {
    margin: 0;
    width: 35%;
  }

  #BFF-crea img:nth-of-type(1) {
    grid-column: 1/4;
    grid-row: 1;
    width: 50%;
  }

  .all-site-p,
  #LFP-logo-infos p {
    font-size: 1.1rem;
  }

  /* --- creas --- */

  #creations {
    margin-top: 120px;
  }

  .accordion {
    height: 380px;
    display: flex;
    justify-content: space-between;
    overflow: hidden;
  }

  .creation {
    overflow: hidden;
    height: inherit;
    padding: 20px;
    color: #fff;
    transition: width 0.5s ease;
    margin: 0;
  }

  .quincaillerie-creation {
    width: 33%;
  }

  .recette-creation {
    width: 49.7%;
  }

  .creation img {
    position: absolute;
    opacity: 0.6;
    top: 0;
    left: 0;
    width: 110%;
    height: 110%;
    object-fit: cover;
    transition: all 0.5s ease;
  }

  #recette .recette-creation:nth-of-type(1) img {
    left: -20px;
  }

  #recette .recette-creation:nth-of-type(2) img {
    left: -60px;
  }

  #quincaillerie .creation:nth-of-type(1) {
    background-color: #ffc75e;
  }

  #quincaillerie .creation:nth-of-type(2) {
    background-color: #ffc75e9c;
  }

  #quincaillerie .creation:nth-of-type(3) {
    background-color: #ffc75e21;
  }

  #recette .creation:nth-of-type(1) {
    background-color: #d6c2a679;
  }

  #recette .creation:nth-of-type(2) {
    background-color: #ffc75e9c;
  }

  .caption,
  #quincaillerie .quincaillerie-creation:nth-of-type(1) .caption {
    padding: 15px 35px;
    top: 250px;
    right: inherit;
    opacity: 0;
    background-color: #f9f9f9d3;
    border: none;
    transform: rotate(0deg);
    transition: opacity 0.25s ease-in-out;
  }

  .caption h4 {
    margin-bottom: 2px;
    text-overflow: clip;
    font-size: 1.4rem;
    text-transform: uppercase;
  }

  .caption button {
    display: block;
  }

  .caption p {
    margin: 0;
    font-size: 0.9rem;
  }

  /* --- Hover Effects --- */

  .creation:hover img,
  #recette .recette-creation:nth-of-type(1):hover img,
  #recette .recette-creation:nth-of-type(2):hover img {
    opacity: 1;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }

  .creation:hover {
    width: 100%;
  }

  .creation:hover .caption,
  #quincaillerie .quincaillerie-creation:nth-of-type(1):hover .caption {
    transition: all 0.5s ease;
    opacity: 1;
  }

  /* --- FOOTER --- */

  #contact-accueil {
    min-height: 300px;
    max-height: fit-content;
    margin-top: 120px;
  }

  #contact-accueil-contenu {
    margin-top: 70px;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    flex-wrap: wrap;
    gap: 10%;
  }

  a.github i {
    color: #ffc75e;
    font-size: 70px;
  }

  #mail i,
  #contact-accueil a:not(#contact-accueil a.github) {
    color: #f9f9f9;
    font-size: 2.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    background-color: #ffc75e;
    border-radius: 50px;
    width: 70px;
    height: 70px;
    text-align: center;
    box-shadow: 0 0 0 5px #f9f9f9;
  }

  #contact-accueil-contenu a:hover,
  #mail:hover {
    transform: translateY(-5px);
    transition: all 0.3s ease-in-out;
  }

  #contact-accueil-contenu a {
    transition: transform 0.3s ease-in-out;
  }

  #mail {
    width: fit-content;
    display: flex;
    align-items: center;
    transition: all 0.2s ease-in-out;
    position: relative;
  }

  #mail:hover > .mail {
    color: #f9f9f9;
    z-index: auto;
    left: 40px;
    background-color: #ffc75e;
    border-radius: 20px;
  }

  .mail {
    background-color: rgba(255, 255, 255, 0);
    width: fit-content;
    font-size: 1.3rem;
    z-index: -1;
    color: #58522300;
    position: absolute;
    left: 40px;
    height: 100%;
    padding: 20px 20px 20px 50px;
    font-family: "Afacad", sans-serif;
    transition: all 0.2s ease-in-out;
  }

  .fa-envelope {
    z-index: 2;
  }

  footer {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100px;
    padding: 20px;
    width: 90%;
    margin: 50px auto 0;
    text-align: center;
  }
}

@media screen and (min-width: 960px) {
  /* HEADER */
  #gauche {
    margin: 0;
    padding: 0;
    width: 450px;
    margin-bottom: 30px;
  }

  #summary hr {
    width: 400px;
  }

  .summary-line p {
    font-size: 1.4rem;
  }

  #summary h1 {
    font-size: 1.7rem;
  }

  #presentation_texte {
    min-width: 400px;
  }

  /*
#droite {
  margin: 0 auto 30px;
  height: 480px;
  width: 310px;
  position: relative;
}

#ligne_un {
  color: #cdc475;
  filter: drop-shadow(5px 0 #f9f9f9);
  position: absolute;
  text-align: left;
  text-wrap: nowrap;
  font-family: "Imbue", serif;
  font-size: 4rem;
  top: 0;
  left: 0;
}

#ligne_deux {
  color: #cdc475;
  filter: drop-shadow(-4px 0 #f9f9f9);
  position: absolute;
  bottom: 0;
  text-align: right;
  font-family: "Imbue", serif;
  font-size: 4rem;
  left: 200px;
}

#hexa {
  position: absolute;
  bottom: 62px;
  left: 35px;
  font-family: "Afacad", sans-serif;
  font-size: 0.8rem;
  color: #7a7f2d;
  text-wrap: nowrap;
}

#box_pantone {
  position: absolute;
  height: 400px;
  width: 245px;
  border: 2px #7a7f2d solid;
  bottom: 35px;
  left: 25px;
  overflow: hidden;
}

#box_pantone span {
  position: absolute;
  height: 320px;
  width: 265px;
  top: 30px;
  border-bottom: 2px #7a7f2d solid;
  border-top: 2px #7a7f2d solid;
  background-color: #ffc75e;
}
*/

  #droite {
    height: 500px;
    width: 335px;
  }

  #ligne_un {
    font-size: 5rem;
    top: 0;
    left: 0;
  }

  #ligne_deux {
    bottom: 0;
    font-size: 5rem;
    left: 200px;
  }

  #hexa {
    bottom: 62px;
    left: 37px;
    font-size: 0.8rem;
  }

  #box_pantone {
    height: 400px;
    width: 255px;
    bottom: 38px;
    left: 26px;
  }

  #box_pantone span {
    height: 320px;
    width: 265px;
    top: 30px;
  }

  /* CONTACT */

  form:not(.form-mail, .form-image),
  .page-retour {
    max-width: 45%;
    min-width: 500px;
  }
}
