@font-face {
    font-family: ashfiana;
    src: url(fonts/Ashfiana\ Regular.ttf);
}

@font-face {
    font-family: Louis George Cafe;
    src: url(fonts/Louis\ George\ Cafe.ttf);
}

* {
    margin: 0;
}

html {
    background-color: #F4F6F4;
}


h1, h2 {
    font-family: 'ashfiana';
}

p, label, .tel {
    font-family: 'Louis George Cafe';
}

header {
    height: 500px;
    background-color: #4B5738;
    background-image: url(images/tree_off-white_02.png);
    background-repeat: no-repeat;
    background-size:contain;
    box-shadow: 0 0 20px rgba(0,0,0,.2);
    color: #F4F6F4;
}

nav {
    margin: 0 auto;
    width: 800px;
}

nav ul {
    padding-top: 30px;
    display: flex;
    justify-content: space-around;
    font-family: 'Louis George Cafe';
    list-style: none;
}

nav ul li a {
    color: #F4F6F4;
    text-decoration: none;
    padding: 10px 10px;
}

nav ul li a:hover:not(.current) {
    color: #ffffff;
    text-decoration: underline;
}

.current {
    color: #4B5738;
    background-color: #F4F6F4;
    border-radius: 5px;
    font-weight: bold;
}

h1 {
    margin-top: 350px;
    font-size: 45px;
    font-weight: 700;
    text-align: center;
}

section:not(#formulaire) {
    width: 760px;
    margin: 100px auto 0;
    text-align: center;
}

section h2 {
    font-size: 45px;
    letter-spacing: 4px;
    text-align: center;
    color: #483f22;
    margin-bottom: 20px;

}

section p {
    padding-top: 10px;
    padding-bottom: 10px;
    color: #5C512D;
    text-align: left;
}

.legend {
    text-indent: 7%;
}

.form-content {
    margin-top: 10px;
    text-align: left;
    color: #5C512D;
    font-weight: bold;
}

#texte textarea {
    width: 600px;
}

#formulaire {
    width: 760px;
    margin: 50px auto 0;
}

.tel {
    color: #5C512D;
}

.tel:hover {
    color: rgb(42, 50, 30);
}

iframe {
    margin-top: 20px;
}

footer {
    /*position:fixed;
    bottom: 0;
    left: 0;
    right: 0;*/
    margin-top: 100px;
    padding: 20px 0px;
    color: #F4F6F4;
    background-color: #4B5738;
    text-align: center;
    box-shadow: 0 0 20px rgba(0,0,0,.2);
}

.bold {
    font-weight: bold;
}

#back {
    margin-top: 20px;
    color: #483f22;
}

#back:hover {
    color: rgb(33, 40, 23);
}

.envoi {
    margin-top: 30px;
    color: #5C512D;
}