  @import url('https://fonts.googleapis.com/css2?family=Arsenal:ital,wght@0,400;0,700;1,400;1,700&display=swap');

  @import url('https://fonts.googleapis.com/css2?family=Fahkwang:wght@300;400;500&display=swap');

  @import url('https://fonts.googleapis.com/css2?family=Italiana&family=Cinzel:wght@400;500;600;700;800;900&family=Khand:wght@300;400;500;600;700&family=Rajdhani:wght@400;500;600;700&family=Saira+Condensed:wght@100;200;300;400;500;600;700;800;900&display=swap');


* {
    margin:0;
    padding: 0;
    box-sizing: border-box;
}

html {
    background-color: #F8F4F4;
    background-position: center;
    background-size: cover ;
    font-size: 16px;
}

#body {
    padding-left: 5%;
    padding-right: 5%;
}

#bandeau {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 30px;
    background-color: #FBFBFB;
    font-family: 'Rajdhani', sans-serif;
    font-weight: 500;
    letter-spacing: 0.2em;
}

#bandeau a {
    text-decoration: none;
    color: #545454;
}


header {
    margin-top: 35px;
    height: 60px;
    display: flex;
    justify-content: flex-end;
    align-items:center;
    gap: 5px;
}

#logo-site a h1 {
    display: none;
}

    /* search bar */
    
    #search form {
        display: flex;
        align-items: center;
    }
    
    #search input[type=text] {
        height: 30px;
        width: 100px;
        padding-left:1em ;
        border-radius:25px;
        border: none;
        font-size: 15px;
        transition: width 0.4s ease-in-out;
    }
        
    #search button {
        border: none;
        margin-right: 50px;
        background-color: rgba(255, 255, 255, 0);
        cursor: pointer;
        padding-left: 5px;        
    }

    #search button a {
        font-size: 1.3rem;
        text-decoration: none;
        color: #545454;
    }

    #search button a:hover {
        color: #2d2d2d;
    }
/* end of search bar */

/* icons */
    #icons {
        display: flex;
        gap: 15px;
    }

    #icons a {
        color: #545454;
        font-size: 1.4rem;
        text-decoration: none;
    }

    #icons a:hover {
        color: #2d2d2d;
    }
/* end of icons */




/* nav */

    #navbar {
        font-weight: 400;
        font-family: 'Khand', sans-serif;
        transition: font-size 0.6s ease-in-out; 
    }

    #navbar a {
        color: #2d2d2d;
    }

    .menuItem {
        text-decoration: none;
        transition: color 0.2s ease-in-out;
        text-wrap: nowrap;
    }

    .menuItem:not(.active):hover {
        color: #E6BBA7;
    }

      .xmark:before {
        display: none;
      }

      i.fa-solid.fa-xmark.xmark {
        display: none;
    }

      .topnav {
        display: flex;
        align-items: center;
        justify-content: space-between;
        border-bottom: solid #D5A692;
        gap: 25px;
    }


    #logo-site a {
        text-decoration: none;
        letter-spacing: 0.3em;
        color: #545454;
    }

    #logo-site img {
        height: 100px;
        margin-bottom: 10px;
    }


    #logo-nobrand {
        display: none;
    }

    #logo-brand {
        display: inherit;
    }
    



/* end of nav */

/* slider */
#slider {
    display: flex;
    justify-content: center;
    gap: 1em;

}

.prev-button, .next-button {
    margin-top: 40px;
    border-color: #2d2d2d00;
    background-color: #2d2d2d00;
    color: #545454;
    cursor: pointer;
    font-size: 2em;
}

.prev-button:hover, .next-button:hover {
    color: #D98D6B;
}

.carousel {
    margin-top: 40px;
    width: fit-content;
    overflow: hidden;
    position: relative;

}

.carousel-container {
    display: flex;
    transition: transform 0.3s ease-in-out;
}

.carousel-item {
    flex: 0 0 100%; /* -> Display one item at a time */
    max-width: 100%;
    overflow: hidden;
}

.carousel-item img {
    width: fit-content;
    width: 100%;
}

/* end of slider */


/* catégories de présentation */
    #categories {
        display: flex;
        justify-content: center;
        width: 100%;
        margin: 60px auto 0;
        flex-wrap: wrap;
    }

    .cat {
        list-style: none;
        text-align: center;
        border-style: solid;
        border-color: #54545400;
        border-width: 1.2px;
        height: auto;
        max-width: 30%;
        min-width: 200px;
        margin: 0 auto;
    }

    .cat:hover {
        border-style: solid;
        border-color: #545454;
    }


    .cat a {
        text-decoration: none;
        color: #7D414D; 
        font-family: 'Khand', sans-serif;
        font-weight: 600;
        font-size: 1.1rem;
        text-wrap: nowrap;
        letter-spacing: 0.1em;
        transition: font-size 0.6s ease-in-out; 
        display: block;
        width: 85%;
        margin: 0 auto;
    }

    .cat a:nth-of-type(1) {
        padding: 10px 0;
    }

    .cat a:nth-of-type(2) {
        padding: 0 0 10px;
    }

    .cat img {
        width: 100%;
    }

    /*.cat img {
        height: 213px;
        width: 342;
        background-color: #7D414D;
    }*/
    /*end of categories*/


    /* Selection */
    #notre-selection {
        width: 100%;
        margin-top: 60px;
        height: auto;
        display: flex;
        justify-content: space-between;
        gap: 2%;
        overflow-x: auto;
    }

    .selection li, .selection li a {
        list-style: none;
        text-decoration: none;
        color: #545454;
        font-family: 'Rajdhani', sans-serif;
        letter-spacing: 0.03em;
        font-weight: 500;
    }

    .selection li a:hover, .selection ul:hover {
        color: #D5A692;
        transform: translateY(-5px)
    }

    .selection img {
        width: 100%;
    }

    .selection ul {
        transition: transform 0.5s;
        width: 100%;
    }

    .selection {
        display: flex;
        flex-direction: column;
        gap: 15px;
        max-width: 22%;
        min-width: 130px;
    }


    #selection-txt {
        background-color: #D98D6B;
        color: #F8F4F4;
        text-align: center;
        height: auto;
        max-width: 31%;
        min-width: 220px;
        padding: 3em;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        transition: width 0.3s ease-in-out; 
    }

    #selection-txt h1 {
        font-family: 'Cinzel', serif;
        transition: font-size 0.3s ease-in-out;
        font-size: 1.3rem;
    }

    #selection-txt p {
        color: #f8f4f4c3;
        font-family: 'Rajdhani', sans-serif;
        font-weight: 500;
        letter-spacing: 0.04em;
        font-size: 1rem;
        margin-bottom: 35px;
        transition: font-size 0.3s ease-in-out; 
    }

    .text-overflow {
        white-space: nowrap; /* Prevent the text from wrapping */
        overflow: hidden; /* Hide any overflow */
        text-overflow: ellipsis; /* Show an ellipsis (...) for truncated text */
    }

    #button {
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: #F8F4F4;
        border-radius: 2em;
        color: #D98D6B;
        font-family: 'Cinzel', serif;
        font-weight: bold;
        text-wrap: wrap;
        text-decoration: none;
        padding: 7px;
        height: auto;
        width: 100%;
        font-size: 0.9rem;
        }
    
    #button:hover {
        background-color: rgba(251, 251, 251, 0.84);
        }
/* end of selection*/

/*nouveautes ou collection*/
#nouveautes {
    background-color:#D5A692 ;
    width: auto;
    height: auto;
    text-align: center;
    margin-top: 90px;
    padding: 2em 3em;
}

#nouveautes h1 {
    color: #FDFDFD;
    font-family: 'Cinzel', serif;
    font-size: 1.7em;
}

#nouveautes p {
    color: #F8F4F4;
    margin-top: 2em;
    font-size: 1.1em;
    font-family: 'Rajdhani', sans-serif;
    font-weight: 400;
}

#nouveautesproducts {
    display: block;
    margin: 2em auto 0;
    width: auto;
    width: 100%;

}

.nouveautes-item {
    background-color: #FEFEFE;
    padding: 2.5em 1.7em 2em;
    margin-bottom: 2%;
    transition: transform 0.5s;
    width: 60%;
    margin: 25px auto 0;
}


.nouveautes-item:hover {
    transform: translateY(-5px);
}

.nouveautes-item a, .nouveautes-item a h3, .nouveautes-item a h4 {
    text-decoration: none;
    color: #545454;
    font-family: 'Rajdhani', sans-serif;
    font-weight: 300;
}

.nouveautes-item img {
    width: 100%;
}

#reseaux {
    display: flex;
    justify-content: center;
    gap: 30px;
    margin-top: 90px;
}

#reseaux a:hover {
    color: #D98D6B;
}

#reseaux a:not(.facebook) {
    text-decoration: none;
    color: #F8F4F4;
}

.instagram {
    text-align: center;
    border-radius: 100%;
    background-color: #E6BBA7;
    font-size: 44px;
    height: 57px;
    width: 57px;
    padding-top: 5.4px;
    margin-top: 2px;
}

.instagram:hover {
    background-color: #D98D6B;
}

.facebook {
    color: #E6BBA7;
    font-size: 57px;
}

.mail {
    text-align: center;
    border-radius: 100%;
    background-color: #E6BBA7;
    font-size: 38px;
    height: 57px;
    width: 57px;
    padding-top: 8.7px;
    margin-top: 2px;
}

.mail:hover {
    background-color: #D98D6B;
}

footer {
    display: flex;
    justify-content: space-evenly;
    margin-top: 6%;
    font-family: 'Rajdhani', sans-serif;
    min-height: 440px;
    max-height: fit-content;
    width: 100%;
    background-color: #fdfdfda3;
    align-items: start;
    padding: 7em 20px;
    gap: 0;
    font-size: 0.9rem;
}

.footer-content-a, .footer-content-a a, .footer-content-a a li {
    text-decoration: none;
    list-style: none;
    color: #757575;
    letter-spacing: 0.04em;
    text-align: left;
    font-weight: 400;
}

.footer-content-b {
    text-decoration: none;
    list-style: none;
    color: #757575;
    letter-spacing: 0.04em;
    text-align: left;
    font-weight: 400;
    padding: 15px;
}

.footer-content-a {
    padding: 15px;
}

.footer-content-a a li:hover {
    text-decoration: underline;
}



@media screen and (max-width: 768px) {
    /* nav */

    #navbar {
        position: fixed;
        transform: translateY(-100%);
        transition: transform 0.2s;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        z-index: 99;
        background: white;
        list-style: none;
        padding-top: 4rem;
    }

    .menuItem {
        display: block;
        margin: 2rem 4rem;
        font-size: 1.8rem;
    }


    .hamburger {
        border: none;
        cursor: pointer;
        padding: 7px;
        background-color: rgba(255, 255, 255, 0.408);
        border-radius: 5px;
        font-size: 1.3rem;
        color: #2d2d2d;
      }

      .hamburger.inMenu {
        position: fixed;
        z-index: 100;
        top: 2rem;
        right: 2rem;
        background: white;

      }

      .xmark:before {
        display: none;
      }
      
      .show-before:before {
        display: inherit;
        color: #2d2d2d;
        font-size: 1.6rem;
        content: '\f00d'; /* font awesome close icon */
      }

      #navbar.showMenu {
        transform: translateY(0);
      }


      /* FOOTER */
      footer {
        flex-direction: column-reverse;
      }

      #footer-separation {
        width: 0;
        height: 0;
    }

}


/* ---- PETITS ECRANS 480px à 768px --- */    
@media screen and (min-width: 480px) {

    
    /* search bar */

    #search input[type=text] {
        width: 100%;
        transition: width 0.4s ease-in-out;
    }


/*nouveautes ou collection*/

#nouveautesproducts {
    display: flex;
    justify-content: space-evenly;
    margin-top: 2em;
    width: auto;
    flex-wrap: wrap;
    gap: 2%;

}

    .nouveautes-item {
        background-color: #FEFEFE;
        padding: 2.5em 1.7em 2em;
        margin-bottom: 2%;
        transition: transform 0.5s ease-in-out;
        width: 240px;
    }

}


/* ---- TABLETTE --- */
@media screen and (min-width: 768px) {

    #logo-nobrand {
        display: none;
    }

    #logo-brand {
        display: inherit;
    }

    #navbar {
        position: inherit;
        background-color: rgba(255, 255, 255, 0);
        display: flex;
        align-items: center;
        text-decoration: none;
        list-style: none;
        gap: 33px;
        padding-top: 10px;
        font-size: 1.4rem;
        font-weight: 400;
        font-family: 'Khand', sans-serif;
        transition: font-size 0.6s ease-in-out;
        z-index: auto;
        transform: translateY(0);
    }

    #navbar a {
        color: #545454;
    }

    .topnav {
        margin-top: -16px;
        height: 90px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        border-bottom: solid #D5A692;
        gap: 25px;
    }

    .menuItem {
        display: inherit;
        margin: 0;
        font-size: 1.3rem;
    }

    #logo-site {
        display: flex;
        align-items: center;
        gap: 20px;
    }

    .icon {
        display: none;
    }

    .hamburger {
        display: none;
      }

      #logo-site img {
        margin-bottom: 35px;
    }



    /* --- CATEGORIES --- */
    

/* catégories de présentation */
#categories {
    display: flex;
    justify-content: space-evenly;
    gap: 1%;
    width: 100%;
    margin: 60px auto 0;
    flex-wrap: wrap;
}

.cat {
    list-style: none;
    text-align: center;
    border-style: solid;
    border-color: #54545400;
    border-width: 1.2px;
    height: auto;
    width: 30%;
}

/* --- SELECTION --- */

    .selection {
        width: 22%;
    }
    
    #selection-txt {
        height: auto;
        width: 31% ;
    }


/* --- NOUVEAUTES PARAGRAPHE --- */
    #nouveautes {
        padding: 3em 5em;
    }



/* --- FOOTER --- */
footer {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin-top: 6%;
    font-family: 'Rajdhani', sans-serif;
    min-height: 440px;
    max-height: fit-content;
    width: 100%;
    background-color: #fdfdfda3;
    align-items: start;
    padding: 7em 20px;
    gap: 4%;
}

#footer-a {
    width: 60%;
    display: flex;
    justify-content: space-evenly;
    align-items: first baseline;
    gap: 4%;
}

.footer-content-a, .footer-content-a a, .footer-content-a a li {
    text-decoration: none;
    list-style: none;
    color: #757575;
    letter-spacing: 0.04em;
    text-align: left;
    font-weight: 400;
}

.footer-content-a, .footer-content-b {
    padding: 0;
}

#footer-separation {
    width: 1px;
    height: 110px;
    background-color: #757575;
}


}


@media screen and (min-width: 960px) {
        /* search bar */

        #search input[type=text] {
            width: 400px;
            transition: width 0.4s ease-in-out;
        }

            /* nav */

    #logo-site a h1 {
        padding-top: 10px;
        font-size: 1.6rem;
        font-family: 'Italiana', serif;
        font-weight: 700;
        display: inherit;
    }

    #logo-brand {
        display: none;
    }

    #logo-nobrand {
        display: inherit;
    }

    #navbar {
        gap: 40px;
        font-size: 1.5rem;
        transition: font-size 0.6s ease-in-out; 
    }

         /* Selection */
         #selection-txt h1 {
            font-size: 1.6rem;
        }
    
        #selection-txt p {
            font-size: 1.2rem;
            margin-bottom: 35px;
            transition: font-size 0.3s ease-in-out; 
        }

        #selection-txt {
            padding: 4em;
        }
    
        #button {
            height: 38px;
            width: 208px;
            font-size: 1rem;
            }
    

    #nouveautes {
        padding: 4rem 10rem;
    }

    .cat a {
        font-size: 1.4rem;
        transition: font-size 0.6s ease-in-out; 
    }


}